<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="76ae94">  <td>19/10/26 01:17:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstAssignment.firstAssignment()[pri:0, instance:com.web.walletHub.testCases.FirstAssignment@77caeb3e]">firstAssignment</td> 
  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>19/10/26 01:17:29</td>   <td>-26795</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FirstAssignment.setUp()[pri:0, instance:com.web.walletHub.testCases.FirstAssignment@77caeb3e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>19/10/26 01:18:14</td>   <td>18444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FirstAssignment.tearUp()[pri:0, instance:com.web.walletHub.testCases.FirstAssignment@77caeb3e]">&lt;&lt;tearUp</td> 
<td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
</table>
